[submodule "QHexView"]
	path = code/3rdparty/QHexView/QHexView
	url = https://github.com/virinext/QHexView.git
[submodule "span_ext"]
	path = code/3rdparty/span_ext
	url = https://github.com/brevzin/span_ext.git
[submodule "QHexEdit"]
	path = code/3rdparty/QHexEdit
	url = https://github.com/6ziv/QHexEdit.git
[submodule "aixlog"]
	path = code/3rdparty/aixlog/aixlog
	url = https://github.com/badaix/aixlog
